<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프리온 보딩 과제</title>
    <style>
        body{text-align:center;}
    </style>
</head>
<body>
    <h1>{{product.title}}</h1>
    <p>등록자: {{product.writer}}</p>
    <p>마감 날짜: {{product.expiry_date}}</p>
    <p>{{product.description}}</p>
    <p>목표 금액(원): {{product.target_price}}</p>
    <p>1회 펀딩 금액(원): {{product.funding_cost}}</p>
    <p><a href="{% url 'home' %}">홈으로</a></p>
    <p><a href="{% url 'edit' product.id %}">수정하기</a></p>
</body>
</html>