<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>프리온 보딩 과제</title>
    <style>
        body {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>새로운 상품 등록</h1>
    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <p>제목: <input type="text" name="title" /></p>
        <p>작성자: <input type="text" name="writer" /></p>
        <p>상품 설명: <textarea name="description" cols="30" rows="10"></textarea></p>
        <p>목표 금액: <input type="text" name="target_price" /></p>
        <p>펀딩 종료일: <input type="date" name="expiry_date" /></p>
        <p>1회 펀딩 금액: <input type="text" name="funding_cost" /></p>

        <button type="submit">등록하기</button>
    </form>

    
</body>    
</html>

